/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mdc-button{
    margin: 5px !important;
}
.mat-mdc-form-field{
    width: 100%;
}
.content{
    display: block !important;
}
a{
    color: white !important;
padding: 1%;
   
}
a.text-primary{
    color:blue !important;
}
.error,.error span{
    color:red;
}

.tab2.ng-star-inserted {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    cursor: not-allowed;
    width: 100%;
    height: 50px;
    background: red;
}
.mb-20{
    margin-bottom:20px;
}
.primary-button,.secondary-button{
    font-size:16px;
    padding:5px 15px;
}
.primary-button{
    background-color: #00e1ff !important;
    color:#000;
}
.secondary-button{
    background-color: #ddd !important;
    color:#000;
}